
#centre_admin{
    display: flex;
    justify-content: center;
    /* margin-top: 5%; */
    margin-bottom: 10%;
}
#form_admin{
    justify-content: center;
    border: solid;
    border-radius: 30px;
    padding: 20px;
    width: 15%;
    height: 45vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgba(255, 255, 255, 0.4);
    margin-top: 15%;
}
