body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form_fld{
    display: flex;
    justify-content: center;
    
    background-color: aqua;
    margin-top: 100;
}
#mainarticle{
  min-height: 100vh;
}
#grandcontainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#containercomment{
    text-align: center;
    width: 40vw;
    margin-top: 5%;
}
.login{
    margin-bottom: 2%;
    display: flex;
    justify-content: space-evenly;
}
#commentaire{
    min-height: 10vh;
    width: 99%;
    border: none;
}
#commentaire, .login{
    box-shadow: rgba(1, 108, 201, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    background-color: white;
}
#grandcontainer{
    animation: fadein 5s;
    -webkit-animation: fadein 5s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
#msg{
  width: 50%;
  height: 60%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
  background-color: #E2F5FC;
  font-size: 16px;
  resize: none;
}
.avis{
    display: flex;
    justify-content: center;
}
.submitavis{
    width: 10%;
}

