body{
    overflow-x: hidden;
    margin: 0;
}
main{
    width: 100vw;
    height: 100vh;
}
.presentation{
    background-color: #FFD473 ;
    width: 50%;
    display: flex;
}
.article{
display: flex;
/* flex-direction: column; */
border: solid;
}